@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&family=Prompt:wght@400;500;600;700;800&family=Satisfy&family=Space+Mono&display=swap');


*,*::before,*::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 16px;
}
a{
    text-decoration: none;
}
:root{
    --orange:#f85a3e;
    --blue:#1D3557;
    --font-1: 'Satisfy', cursive;
    --font-2: 'Space Mono', monospace;
}
body{
    background-color: var(--blue);
}
header{
    height: 3rem;
    background-color: var(--orange);
}

header h1{
    font-family: var(--font-1);
    color: #fff;
    text-align: center;
}

main{
    width: 100%;
    margin-top: 5%;
    display: flex;
}
section{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 3rem;
    display: flexbox;
}
section .div{
    position: relative;
    display: flex;
    flex-direction: column;
    color: #fff;
    margin: 3rem;
    background-color: aquamarine;
    padding: 2rem;
}