@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&family=Prompt:wght@400;500;600;700;800&family=Satisfy&family=Space+Mono&display=swap');

/* font-family: 'Caveat', cursive;
font-family: 'Prompt', sans-serif;
font-family: 'Satisfy', cursive;
font-family: 'Space Mono', monospace; */
*,*::before,*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --orange:#f85a3e;
    --blue:#1D3557;
}
a{
    text-decoration: none;
}
ul{
    list-style-type: none;
}
html{
    font-size: 16px;
    font-family: 'Space Mono', monospace;
}
body{
    background-color: var(--blue);
}
header{
    width: 100%;
    background-color: var(--orange);
}
header ul{
    margin: 0;
    padding: 0;
    height: 3.5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
header ul li a{
    font-size: 1.5rem;
    color: #000;
}
header ul li a:hover{
    color: #fff;
    transition: 1s;
}

main{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
main h3{
    font-size: 2rem;
    color: #fff;
}
main h3 span{
    color: var(--orange);
}
main button{
    margin: 2rem;
    padding: 0.5rem 1.5rem;
    border-radius: 50px;
    border: 10px solid var(--blue);
    background-color: var(--orange);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
button a{
    color:var(--blue);
    font-size: 1.5rem;
}
button:hover{
    background-color:coral;
}
button a:hover{
    color: #fff;
}