@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&family=Prompt:wght@400;500;600;700;800&family=Satisfy&family=Space+Mono&display=swap');

/* font-family: 'Caveat', cursive;
font-family: 'Prompt', sans-serif;
font-family: 'Satisfy', cursive;
font-family: 'Space Mono', monospace; */

:root{
    
}